.form{
    max-width: 700px;
    margin: 60px auto;
    zoom: 140%;
    
}
form{
    max-width: 90%;
    margin: 0 auto;
}
hr{
    border-color: wheat;
}
.buttons{
    max-width: 320px;
    margin: 10px auto;
    
}
.mainComponent{
    /*background-color: rgba(44, 44, 44, 0.8);*/
    color: white;
}
.padd{
    padding: 13px 10px 1px 10px; 
    margin-bottom: 3px;
}