<!-- Signup component -->
<div class="w3-container form  mainComponent">

  <!-- Form -->
  <div class="w3-padding-32 w3-margin-top" id="contact">
    <div class="w3-center w3-container">
      <h1>Sign Up</h1>
      <p>pleas fill blew information to sign up, if you already have an account you can login</p>
      <div class="buttons">
        <div class="w3-half w3-padding">
          <button type="button" class="w3-button w3-block  w3-light-gray" routerLink="/login">Login</button>
        </div>
        <div class="w3-half w3-padding">
          <button type="button" class="w3-button w3-block  w3-light-gray">LEARN MORE</button>
        </div>
      </div>
    </div>


    <form>
      <hr>
      <!-- validations -->
      <div class="w3-container">
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="username_err">
          <p>Username is empty or typed wrong</p>
        </div>
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="exist_err">
          <p>{{errorMessage}}</p>
        </div>
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="fullname_err">
          <p>Full name is empty or typed wrong</p>
        </div>
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="password_err">
          <p>Password is empty or typed wrong</p>
        </div>
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="email_err">
          <p>Email is empty or typed wrong</p>
        </div>
        <div class="padd w3-pale-red w3-leftbar w3-border-red" *ngIf="yearOfBirth_err">
          <p>Year of birth is empty or typed wrong</p>
        </div>
        <!-- validations end -->

      </div>
      <div class="w3-section">
        <label>Username</label>
        <input class="w3-input w3-border" type="text" required [ngModelOptions]="{standalone: true}" [(ngModel)]="username">
      </div>
      <div class="w3-section">
        <label>Full Name</label>
        <input class="w3-input w3-border" type="text" required [ngModelOptions]="{standalone: true}" [(ngModel)]="fullname">
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input class="w3-input w3-border" type="password" required [ngModelOptions]="{standalone: true}" [(ngModel)]="password">
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="email" required [ngModelOptions]="{standalone: true}" [(ngModel)]="email">
      </div>
      <div class="w3-section">
        <label>YEAR OF BIRTH</label>
        <input class="w3-input w3-border" type="number" required [ngModelOptions]="{standalone: true}" [(ngModel)]="yearOfBirth">
      </div>
      <br>
      <button type="submit" class="w3-button w3-block w3-teal" (click)="signup()">Signup</button>
      <br>
      <!--button type="button" class="btn btn-danger" (click)="fakeUsers()">fake</button-->
    </form>
    <br>

  </div>
</div>
