<app-sidenav [user]='user'></app-sidenav>
<div class="w3-container w3-margin">

  <div class="w3-row">
    <div class="w3-third marginThis">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container w3-margin-bottom">
          <img [src]="user.profileImage" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="fullname">{{user.fullname}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p class="info">
            <i class="fa fa-user-circle-o fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.username}}</p>
          <p class="info">
            <i class="fa fa-key fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.pin}}</p>
          <p class="info">
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
          <p class="info">
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.yearOfBirth}}</p>
        </div>
      </div>
    </div>
    <br>

    <div class="w3-twothird">
      <div class="w3-white w3-text-grey w3-container w3-margin">
        <h1 class="w3-margin">Edit Your Profile</h1>

        <div class="w3-container w3-white w3-padding-16">
          <h3>Profile image</h3>
          <p> if you want to change your profile image!</p>
          <form class="w3-container">
            <div class="w3-section">
              <div class="upload-btn-wrapper w3-center">
                <button class="btnn">Select Image</button>
                <input class="w3-input w3-margin-bottom" type="file" (change)="fileUploadChanged($event)" accept="image/*">
              </div>
            </div>
            <p *ngIf="isProfileImage()" style="color:green">Image Selected
              <i class="fa fa-check" aria-hidden="true"></i>
            </p>
            <p *ngIf="fileNotSupported" style="color:red">File type not supported
              <i class="fa fa-check" aria-hidden="true"></i>
            </p>
          </form>
          <p>
            <br>
            <button class="w3-button w3-dark-grey" (click)="pofileImageUplaod()">Upload</button>
          </p>
        </div>

        <div class="w3-container w3-white w3-padding-16">
          <h3>Set new password</h3>
          <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half">
              <label>Old password</label>
              <input class="w3-input w3-border" type="password" placeholder="Old password" [(ngModel)]="oldPassword">
            </div>
            <div class="w3-half">
              <label>New password</label>
              <input class="w3-input w3-border" type="password" placeholder="New password" [(ngModel)]="newPassword">
            </div>
          </div>
          <p>
            <br>
            <button class="w3-button w3-dark-grey" (click)="setPassword()">Set</button>
          </p>
        </div>

        <div class="w3-container w3-white w3-padding-16">
          <h3>Account privacy</h3>
          <p>If you want to change your account privacy.</p>
          <select class="w3-select w3-half" style="font-size: 20px;" [(ngModel)]="privacy">
            <option value="private">Private</option>
            <option value="public">Public</option>
          </select>
          <br>
          <p>
            <br>
            <br>
            <button class="w3-button w3-dark-grey" (click)="setPrivacy()">Update</button>
          </p>
        </div>

        <div class="w3-container w3-white w3-padding-16">
          <h3>Regenerate PIN</h3>
          <p>If you want to regenerate the PIN.</p>
          <p>
            <br>
            <button class="w3-button w3-dark-grey" (click)="resetPIN()">Regenerate</button>
          </p>
        </div>

        <!--div class="w3-container w3-white w3-padding-16">
          <h3>Change Email</h3>
          <p> if you want to change your email, put it and check it!</p>
          <input class="w3-input w3-border" type="email" placeholder="email@service.dom">
          <p>
            <br>
            <button class="w3-button w3-dark-grey">Change</button>
          </p>
        </div-->
      </div>

    </div>

  </div>
</div>