<div class="w3-container">

<div class="back">
  <h1 >Conversations</h1>
  <div *ngIf="isReady(); else loading">
    <ul class="w3-ul win">
      <li class="w3-bar w3-hover-teal w3-leftbar lis" [ngClass]="stateClass(contact.username)" *ngFor="let contact of user.contacts" (click)="selectContact(contact)">
        <span class="w3-badge w3-green w3-right w3-margin-right" *ngIf="conversations[contact.username].unreadCount > 0">{{conversations[contact.username].unreadCount}}</span>
        <img [src]="contact.profileImage" class="w3-bar-item w3-circle w3-hide-small" style="width:85px;">
        <div class="w3-bar-item">
          <span class="w3-large">{{contact.fullname}}</span>
          <br>
          <span>{{conversations[contact.username].lastMessage}}</span>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <div class="loader"></div>
  </ng-template>
</div>
</div>